

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    line-height: 1.4;
   
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.youtube_logo img{
    width: 70px;
    height: auto;
}

.center-nav{
    display: flex;
}

.search{
   
    display: flex;
    
}

.search input{
    min-width: 600px;
    padding: 10px 20px;
    border: 0.5px solid gray;
}

.search button{
    border: none;
    padding: 10px 20px;
    border: 0.5px solid gray;
}

.mic{
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(235, 225, 225);
    display: grid;
    place-items: center;
    margin-left: 15px;

}

.mic image{
    width: 30px;
}

.side-nav
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 50px;
}

.tags{
    display: flex;
    padding: 10px 20px;
    gap: 10px;
    border-top: 1px solid #ccc;

}

.tag {
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid rgb(22,22,22);
}

.dark
{
    background: black;
    color: white;
}

.Light{
    background-color: rgb(206, 202, 202);
    color:  black;
}

.container{
    display: flex;
}

aside{
     
     padding: 10px; 
     display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: gray;
}
     
    .side-icons img{
    width: 30px;
}

.side-icons {
    font-size: 10px;
    color: white;
    margin-top: 20px;
    top: 10px;
}



.main-container{
    width: 100%;
}

main{
    min-height: 100vh;
    background: lightgray
}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}

.card{
    padding: 10px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
}

.avatar-content{
    padding-top: 10px;
    display: flex;
    gap: 5px;
}

.card h3{
    font-size: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.channel-name{
    font-size: 16px;
    font-weight: bold;
    
}

.content-status{
    display: flex;
    font-size: 14px;
    gap: 10px;
}


 header{
    position: sticky;
     top: 0px;
     background-color: rgb(211, 206, 206);
     
 } 

