*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}

.chat-container{
    width: 100%;
    height: 80%;
    background-color: crimson;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
    overflow: auto;
}

#userImage,#aiImage{
   height: 40px;

}

.ai-chat-box{
    width: 70%;
    position: relative;
}

.user-chat-box{
    width: 60%;
    position: relative;
    left: 40%;
   
}
.user-chat-area{
    width: 90%;
    height: min-content;
    padding: 20px;
    background-color: aquamarine;
    color: black;
    border-radius: 40px 40px 40px 40px;
    box-shadow: 2px 2px 10px aquamarine;
    display: flex;
    gap: 10px;
    flex-direction: column;
    
}

.user-chat-area img{
    width: 40px ;
}

.chooseimg{
    width: 30%;
}

.ai-chat-area{
    width: 90%;
    height: min-content;
    padding: 20px;
    background-color: lightblue;
    color: black;
    position: relative;
    left: 10%;
    border-radius: 40px;
    box-shadow: 2px 2px 10px lightblue;
}

#userImage{
    position: absolute;
    right: 0;
    filter: drop-shadow(2px 2px 10px lightblue);
}

#aiImage{
    position: absolute;
    left:0;
    filter: drop-shadow(2px 2px 10px aquamarine);
}

.user-chat-box img{
    margin-top: 20px;
    margin-right: 10px;
}

.ai-chat-box img{
    margin-top: 20px;
    margin-left: 10px;
}

.promt-area img{
   height: 25px;
}

.promt-area{
    height: 20%;
    width: 100%;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}



.promt-area input{
    width:60%;
    height:70%;
    border-radius: 50px;
    padding: 20px;
    border: 1px solid black;
    font-size: 20px;
    outline: none;
    background-color: black;
    color: white;
}

.promt-area button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid white;
   filter: drop-shadow(2px 2px 10px burlywood);
   cursor: pointer;
   background-color: burlywood;
}

.chooseimg{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

#image{
    display: flex;
    justify-content: center;
    align-items: center;
}