
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 15px 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

b {
    font-size: 18px;
}


section {
    margin: 20px;
}

.frontend, .backend, .fullstack {
    margin-bottom: 30px;
}

.frontend img, .backend img {
    border: 1px solid black;
    margin-top: 10px;
    max-width: 100%;
}


@media only screen and (max-width: 600px) {
    h3 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    .frontend img, .backend img {
        width: 100%;
        height: auto;
    }
}


@media only screen and (min-width: 601px) and (max-width: 900px) {
    h3 {
        font-size: 26px;
    }

    p {
        font-size: 15px;
    }

    .frontend img, .backend img {
        width: 90%;
        height: auto;
    }
}


@media only screen and (min-width: 901px) {
    h3 {
        font-size: 30px;
    }

    p {
        font-size: 16px;
    }

    .frontend img, .backend img {
        width: 80%;
        height: auto;
    }
}
