*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

html,body{
    height: 100%;
    width: 100%;
    
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.container{
    background-color: white;
    width: 400px;
    height: min-content;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.weather-info{
    display: flex;
    padding: 40px 20px;
    gap: 70px;
   
}
.weather-info img{
    width: 20px;
    height: 20px;
     border-radius: 5px;
}

.weather-info input{
    width: 250px;
    height: 30px;
    font-size: 20px;
    font-weight: 400;
     border-radius: 5px;
}

.weather-body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   font-weight: 700;
}

.weather-body img{
    height: 270px;
    /* width: 300px; */
   }

.weather-details{
    display: flex;
    gap: 80px;
    margin: 15px;
}

.weather-details img{
    height: 50px;
}

.humidity{
    display: flex;
   
}

.wind{
    display: flex;
}

