div{
            height: 100px;
            width: 100px; 
            background-color: blue;
            text-align: center;
            color: white;
            /* justify-self: center; */
            border-radius : 20px;
            border: 2px solid red;
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 100;
            font-display: inherit;
            position: absolute;
            top: 200px;
            left: 500px;
    }

    div:hover
    {
        background-color: rgb(79, 236, 16);
        font-size: 40px;
        color: brown;
        transition: all;
        transition-duration: 3s;
        transition-timing-function : ease-in;
        transition-delay: 1s;
    }

@media(min-width: 600px) and (max-width: 600px)
{
div
    {
    
        background-color: yellow;
    }
}

div:active
{
    background-color: pink;
}


div{
    transform: rotate(45deg);
}