*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #87CEFA;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.road{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #333;
}

.road-line{
    position: absolute;
    top: 0;
    width: 10px;
    height: 30px;
    background-color: #fff
    ;
    animation: moveLines 1s linear infinite;
}

.road-line:nth-child(1)
{
    left: 25%;
    animation-delay: 0.3s;
}

.road-line:nth-child(2){
    left: 50%;
    animation-delay: 0.6s;
}

.road-line:nth-child(3){
    left: 75%;
    animation-delay: 0.9s;
}

@keyframes moveLines {
    0%{
        top: -30px;
    }
    100%{
        top: 100%;
    }
}

.car{
    position: absolute;
    bottom: 150px;
    left: -250px;
    width: 250px;
    height: 80px;
    background-color: #FF4500;
    border-radius: 50px 120px 10px 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 2;
    animation: drive 5s linear infinite;
}

.window{
    width: 80px;
    height: 40px;
    background-color: #2F4F4F;
    position: absolute;
    top: 10px;
    left: 80px;
    border-radius: 5px;
}

.wheel{
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background-color: #FF4500;
    border-radius: 50%;
    position: absolute;
    border: 10px solid #333;
    bottom: -15px;
    animation: rotatewheel 1s linear infinite;
}

.wheel.left{
    left: 30px;
}

.wheel.right{
    right: 30px;
}

@keyframes rotatewheels{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes drive{
    0%{
        left: -250px;
    }

    100%{
        left: 100%;
    }
}