:root{
    --bg-color: burlywood;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.box{
    width: min-content;
    height: min-content;
    background-color: #155e75;
    padding: 20px;
    border-radius: 10px;
}

.header h1{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.header input{
    width: 100%;
}

.header input {
    height: 25px;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 7px;
}

.label{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight:600;
}

.label select{
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid black;
}

.qr-body{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qr-footer{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.qr-footer a{
    padding: 9px;
    background-color: gray;
    text-decoration: none;
    margin-inline: 10px;
    background-color: white;
    color: rgba(0, 0, 0, 0.753);
    border-radius: 10px;
}