html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body{
    background-color: gray;
    position: relative;
  
   
}

#box{
    position: relative;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: yellow;
    animation-name: anime;
    animation-duration: 5s ;
    transition-timing-function: ease-in-out;
    transition-timing-function: step-end;

    
    /* animation-iteration-count: infinite; */


}

@keyframes anime {
    0%{
        top: 0%;
        left: 0px;
        background-color: blue;
        rotate: 0deg;
    }
    
    25%{
        top: 0px;
        left: 50%;
        rotate: 90deg;
    }

    50%{
        left: 50%;
        top: 50%;
        background-color: royalblue;
        rotate: 180deg;
    }

    75%{
        top: 50%;
        left: 0%;
        background-color: crimson;
        rotate: 270deg;
    }

    100%{
        left: 0%;
        top: 0%;
        background-color: burlywood;
        rotate: 360deg;
    }
}

#box1{
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    top:50px;
    left: 200px;
    animation-name: myanime;
    /* animation-duration: 0.4s; */
    animation-iteration-count: infinite;
    
    
}

@keyframes myanime {
    from{
        background-color: #fff;
    }
    to{
        background-color: red;
    }
    
}