*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
    background-color: rgba(112, 11, 11, 0.842);
}

main{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: crimson;
    color: white;
    height: 100px;
    border: 1px solid white;

}

main input,button{
    height: 30px;
    border: 1px solid black;
}

.SearchInput button{
    padding: 10px;
    padding-top: 5px;
    font-size: 20px;
}

main  input{
    width: 300px;
    font-size: 19px;
    
}

.SearchInput{
    display: flex;
    gap: 20px;
    align-items: center;
}

